html,
body,
#root,
.App {
  height: var(--app-height);
  min-height: var(--app-height);
  width: 100vw;
  padding: 0;
  margin: 0;
}

input,
textarea,
select {
  font-size: 16px;
}

.button {
  background-color: #525f70;
  color: white;
  border-color: black;
}

.card {
  background-color: white;
  color: black;
}

.pac-container {
  z-index: 99999 !important;
}

.calculator-field {
  color: black;
}

.autocomplete-field {
  color: black;
}

[data-rsbs-root] {
  border-radius: 10vh;
  overflow: hidden;
}

.map-container {
  height: calc(var(--app-height) - 0px);
  width: 100vw;
  box-sizing: border-box;
}
