.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.button {
 /*  background-color: #525f70; */
  background-color: #08e600;
  color: white;
  border-color: black;
}

.card {
  background-color: white;
  color: black;
}